{{>layout/header}}
<h1>KJH의 웹서비스 테스트 코드</h1>
    <div class="col-md-12">
        <div class = "row">
            <a href = "/posts/save" role = "button" class="btn btn-primary">글 등록</a>
        </div>
    </div>
{{>layout/footer}}